body {
    background-color: #1a1a2e;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.signup-container {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.signup-container h2 {
    margin-bottom: 20px;
}

.signup-container label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.signup-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
}

.signup-container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #a64ac9;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.signup-container button:hover {
    background-color: #8733a6;
}

.signup-container p {
    margin-top: 15px;
}

.signup-container a {
    color: #a64ac9;
    text-decoration: none;
}

.signup-container a:hover {
    text-decoration: underline;
}
